
<template>
  <div class="hello">
    <!-- <h1>{{ msg }}</h1> -->
    <el-button type="danger" round>hello</el-button>
  </div>
</template>

<script>
import Vue from 'vue';
import { Button } from 'element-ui';
import '../element-variables.scss';


export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  components: {
    [Button.name]: Button
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
