
<template>
  <div>
    <el-dialog title="Account Login" :visible="dialogVisible" width="30%">
      <el-input placeholder="user name" v-model="username"></el-input>
      <el-input placeholder="password" v-model="password"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleCancel">Cancel</el-button>
        <el-button type="primary" @click="handleSave">Login</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Input, Button, Dialog } from "element-ui";
import "../element-variables.scss";

export default {
  name: "AuthenticationDialog",
  props: {
  },
  data: function() {
    return {
      dialogVisible: false,
      username: '',
      password: '',
      resolve: null
    };
  },

  methods: {
    pop() {
      this.dialogVisible = true;
      let instance = this;
      return new Promise(function(resolve) {
        instance.resolve = resolve;
      });
    },
    handleSave() {
      this.resolve(true);
      this.handleClose();
    },
    handleCancel() {
      this.resolve(false);
      this.handleClose();
    },
    handleClose() {
      // this.$emit("update:dialogVisible", false);
      this.dialogVisible = false;
    }
  },
  components: {
    [Input.name]: Input,
    [Button.name]: Button,
    [Dialog.name]: Dialog
  }
};
</script>
