
<template>
  <div>
    <el-dialog title="Contact Information" :visible="dialogVisible" width="30%" :before-close="confirmClose" @close="handleClose">
      <span>Please enter your contact information:</span>
      <el-input placeholder="first name" v-model="firstName"></el-input>
      <el-input placeholder="last name" v-model="lastName"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">Cancel</el-button>
        <el-button type="primary" @click="handleSave">Confirm</el-button>
      </span>
    </el-dialog>

    <authentication-dialog ref="auth" >
    </authentication-dialog>

  </div>
</template>

<script>
import { Input, Button, Dialog, MessageBox } from "element-ui";
import "../element-variables.scss";
import AuthenticationDialog from '../components/AuthenticationDialog';

export default {
  name: "ContactInfoDialog",
  props: {
    dialogVisible: false,
    value: Object
  },
  data: function() {
    return {
      firstName: this.value.firstName,
      lastName: this.value.lastName,
    };
  },
  watch: {
    dialogVisible: 'onVisible',
  },
  methods: {
    confirmClose(done) {
      MessageBox.confirm("Are you sure to close this dialog?", {
        confirmButtonText: "OK",
        cancelButtonText: "Cancel"
      })
        .then(() => {
          done();
        });
    },
    handleSave() {
      this.$emit("input", {
        firstName: this.firstName,
        lastName: this.lastName
      });
      this.handleClose();
    },
    handleClose() {
      this.$emit("update:dialogVisible", false);
    },
    onVisible(newVal) {
      if (newVal === true) {
        const auth = this.$refs.auth;
        auth.pop().then(authResult => {
          if (!authResult) {
            MessageBox.alert(
              'You must login to perform this function',
              'Authentication failed',
              {
                confirmButtonText: "OK",
              }
            );
            this.handleClose();
          }
        });
      }
    }
  },
  components: {
    [Input.name]: Input,
    [Button.name]: Button,
    [Dialog.name]: Dialog,
    [AuthenticationDialog.name]: AuthenticationDialog,
  }
};
</script>
