/* Just a test - theme color */
// $--color-primary: red;

/* Just a test */
// # $--button-font-size: 28px;

/* Just a test */
// $--dialog-title-font-size: 48px;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";